
                <div class="item">
                    <div>Avatar Url</div>
                    <div>
                        <input 
                        type="url"
                        name="avatar_url"
                        placeholder="http://"
                        value="{{captain.avatar_url}}"
                        >
                    </div>
                </div>


                <div class="item">
                    <div>Captain</div>
                    <div>
                        <input 
                        type="text"
                        name="name"
                        placeholder="Your name"
                        value="{{captain.name}}"
                        >
                    </div>
                </div>
        
                <div class="item">
                    <div>Ocupation</div>
                    <div>
                        <input 
                        type="text" 
                        name="ocupation"
                        placeholder="Vogons skip this one :)"
                        value="{{captain.ocupation}}"
                        >
                    </div>  
                </div>

                <div class="item">
                    <div>Origin Planet</div>
                    <div>
                        <input 
                        type="text" 
                        name="origin"
                        placeholder="tell me your homies don't write poetry"
                        value="{{captain.origin}}">
                    </div>
                </div>

                <div class="item">
                    <div>Personal Features</div>
                    <div>
                        <input 
                        type="text" 
                        name="services"
                        placeholder="Tell us your skills separating by comma ;)"
                        value="{{captain.services}}">
                    </div>
                </div>

                <Button 
                type="submit"
                >Save</Button>
            
