<!DOCTYPE html>
<html >
  <head>

    {% block head%}
    <title> Spaceship Manager </title>
    {% endblock %}


    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
</head>
  <body>
    <nav>
      <a href="/captains">Captains</a>
      <a href="/members">Crew</a>
    </nav>


    {% block content %}{% endblock %}

    <script src="/scripts.js"></script>


  </body>
</html>
