
                <div class="item">
                    <div>Avatar Url</div>
                    <div>
                        <input 
                        type="url"
                        name="avatar_url"
                        placeholder="http://"
                        value="{{member.avatar_url}}"
                        >
                    </div>
                </div>


                <div class="item">
                    <div>Name</div>
                    <div>
                        <input 
                        type="text"
                        name="name"
                        placeholder=""
                        value="{{member.name}}"
                        >
                    </div>
                </div>
        
                <div class="item">
                    <div>Email</div>
                    <div>
                        <input 
                        type="email"
                        name="email"
                        placeholder=""
                        value="{{member.email}}"
                        >
                    </div>
                </div>
        
                <div class="item">
                    <div>Ocupation</div>
                    <div>
                        <input 
                        type="text" 
                        name="ocupation"
                        placeholder="Vogons skip this one :)"
                        value="{{member.ocupation}}"
                        >
                    </div>  
                </div>

                <div class="item">
                    <div>Origin Planet</div>
                    <div>
                        <input 
                        type="text" 
                        name="origin"
                        placeholder="tell me your homies don't write poetry"
                        value="{{member.origin}}">
                    </div>
                </div>


                <div class="item">
                    <div>Blood Type</div>
                    <div>
                        <select name="blood">

                            <option 
                                value="A1"
                                {% if member.blood == "A1" %} selected{% endif %}
                                > A+ 
                            </option>
                            
                            <option 
                                value="A0"
                                {% if member.blood == "A0" %} selected{% endif %}
                                > A- 
                            </option>

                            <option 
                                value="B1"
                                {% if member.blood == "B1" %} selected{% endif %}
                                > B+ 
                            </option>

                            <option 
                                value="B0"
                                {% if member.blood == "B0" %} selected{% endif %}
                                > B- 
                            </option>

                            <option 
                                value="AB1"
                                {% if member.blood == "AB1" %} selected{% endif %}
                                > AB+
                            </option>
                            
                            <option 
                                value="AB0"
                                {% if member.blood == "AB0" %} selected{% endif %}
                                > AB-
                            </option>

                            <option 
                                value="O1"
                                {% if member.blood == "O1" %} selected{% endif %}
                                > O+ 
                            </option>
                            
                            <option 
                                value="O0"
                                {% if member.blood == "O0" %} selected{% endif %}
                                > O- 
                            </option>
                    
                        </select>
                    </div>
                </div>

            
                <div class="item">
                    <div>Height (cm)</div>
                    <div>
                    <input 
                        type="number" 
                        name="height"
                        placeholder="To a confortable Space Suit..."
                        value="{{member.height}}">
                    </div>
                </div>

                <div class="item">
                    <div>Weight (Kg)</div>
                    <div>
                        <input 
                        type="number" 
                        name="weight"
                        value="{{member.weight}}">
                    </div>
                </div>

                <Button 
                type="submit"
                href= "/members/{{member.id}}"
                >Save</Button>
            
